<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }
      .active {
        background: rgb(63, 178, 249);
        border: 0;
        padding: 5px;
      }
      .error {
        color: red;
      }
      .input-grup {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- Apply props to component -->
      <header-component name="Vuejs" image="image/logo.svg"></header-component>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/kelas">Kelas</router-link>
      <main>
        <!-- emit is using for Listening to Child Components Events and communicating back up to the parent. So registration with v-on then  $emit('aim purpose') . And dont use camel case for aim puropose. I prefer for using kebab case -->
        <!-- $emit('hapus-kelas', index) : use $emit‘s 2nd parameter to provide this value -->
        <!-- <kelas v-bind:matkul="kelas" v-on:update-kelas="updateKelas" v-on:hapus-kelas="hapusKelas"></kelas>
        <home></home> -->
        <!-- matkul (props), update-kelas ($emit), hapus-kelas ($emit) are custom name function and embed to parent -->
        <router-view v-bind:matkul="kelas" v-on:update-kelas="updateKelas" v-on:hapus-kelas="hapusKelas"></router-view>
      </main>
      <footer-component>
        <!-- <slot> is using to include something that is inside the class tag -->
        <p>Copyright 2022. Zaenury Adhiim</p>
      </footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyAb09K53pl0swTL0cJrk4TlBjs97g80mCg",
        authDomain: "myvuejs-4b25e.firebaseapp.com",
        projectId: "myvuejs-4b25e",
        storageBucket: "myvuejs-4b25e.appspot.com",
        messagingSenderId: "264399262947",
        appId: "1:264399262947:web:eab9324fc1de905acb21d6",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    </script>

    <script>
      // We have two options when defining component names. Kebab cas 'my-component-name' or PascalCase 'MyComponentName'
      //  See https://v2.vuejs.org/v2/guide/components-registration.html#Name-Casing
      // const Home is local registration components
      // 1. Define route components.
      const Home = {
        template: `<div>Home</div>`,
      };
      const About = {
        template: `<div>About</div>`,
      };

      const NotFound = {
        template: `<div>Page is not found</div>`,
      };

      const DetailKelas = {
        template: `
        <div>
          <img :src="urlImage(detailkelas.image)" width="200"/>
          <h3>{{detailkelas.title}} {{$route.params.idkelas}}</h3>
          <p>{{detailkelas.description}}</p>
          <router-link to="/kelas">Kembali</router-link>
        </div>
        `,
        data() {
          return {
            detailkelas: {},
          };
        },
        created() {
          this.filterKelas();
        },
        methods: {
          filterKelas: function () {
            let kelas = JSON.parse(localStorage.getItem("kelas"));
            let id = this.$route.params.idkelas;
            let item = kelas.filter((k) => (k.id = id));
            this.detailkelas = item[0];
          },
          urlImage: function (image) {
            return "../image/" + image;
          },
        },
      };

      const Kelas = {
        props: ["matkul"],
        template: `
        <div>
          <h3>Update Kelas</h3>
          <form v-on:submit.prevent="updateKelas">
            <div class="input-grup">
              <input type="text" placeholder="Input title" v-model="kelas.title"></input>
              <div class="error" v-if="error.title"><small>{{error.title}}</small></div>
              </div>
            <div class="input-grup">
              <label>Input descriptions</label>
              <div><textarea v-model="kelas.description"></textarea></div>
              <div class="error" v-if="error.description"><small>{{error.description}}</small></div>
            </div>
            <div class="input-grup">
              <p><img :src="preview" v-if="preview" width="200"/></p>
              <label>Upload Image</label>
              <p><input type="file" ref="image" v-on:change="uploadImage"></input></p>
            </div>
            <p><button type="submit">Submit</submit></p>
          </form>

          <h3>Daftar kelas {{matkul.length}}</h3>
          <template v-if="matkul.length > 0">
            <ul>
              <li v-for="(item, index) in matkul">
                <img :src="urlImage(item.image)" width="200"/>
                <p>
                {{index+1}} - {{item.title}}
                <a href="" v-on:click.prevent="$emit('hapus-kelas', item.id)">Hapus</a>
                <router-link :to="'/kelas/' + item.id">Detail Kelas</router-link>
                </p>
              </li>
            </ul>
          </template>
          <li v-else>Class is not available</li>
        </div>
        `,
        data: function () {
          return {
            kelas: {
              title: "",
              description: "",
              image: "",
            },
            preview: "",
            error: {
              title: "",
              description: "",
            },
          };
        },
        methods: {
          updateKelas: function () {
            this.error.title = "";
            this.error.description = "";
            // Don't use required html, it can be edited via inspect element
            if (this.kelas.title == "") {
              this.error.title = "Title is required";
            }
            if (this.kelas.description == "") {
              this.error.description = "Description is required";
            }
            if (this.kelas.title && this.kelas.description) {
              const updateKelas = {
                id: uuidv4(),
                title: this.kelas.title,
                description: this.kelas.description,
                image: this.kelas.image,
              };
              // this.$emit = Communication from child to parent. "update-kelas" = custom name function. updateKelas = bring value of objects
              this.$emit("update-kelas", updateKelas);
              this.kelas.title = "";
              this.kelas.description = "";
              this.kelas.image = "";
              this.preview = "";
              // to remove imageName beside of button `choose file`
              this.$refs.image.value = "";
            }
          },
          uploadImage: function (event) {
            imageName = event.target.files[0].name;
            this.kelas.image = imageName;
            // URL.createObjectURL (for change data files object to url)
            this.preview = URL.createObjectURL(event.target.files[0]);
          },
          urlImage: function (image) {
            return "../image/" + image;
          },
        },
      };

      // Global registration components
      Vue.component("header-component", {
        // Adding props
        props: ["name", "image"],
        template: `
        <header>
          <img :src="image" width="90" />
          <p>Halo, {{name}}</p>
        </header>`,
        // Data component must be function
        data: function () {
          return {
            pesan: "Hello Vuejs",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
        <footer id="footer">
          <slot></slot>
        </footer>`,
      });
      Vue.component("kelas", {});

      // 2. Define some routes
      const routes = [
        { path: "/", component: Home },
        { path: "/about", component: About },
        { path: "/kelas", component: Kelas },
        { path: "/kelas/:idkelas", component: DetailKelas },
        { path: "*", component: NotFound },
      ];

      // 3. Create the router instance and pass the `routes` option
      const router = new VueRouter({
        mode: "history",
        routes, // short for `routes: routes`
      });

      const vm = new Vue({
        // el: "#app",
        router,
        // Local registration components
        components: {
          home: Home,
        },
        data: {
          // kelas: [
          //   //  Try to change array string with array object
          //   { id: "1", title: "javascript", description: "this is javascript", image: "/logo.svg" },
          //   { id: "2", title: "typescript", description: "this is typescript", image: "/vuejs.png" },
          //   { id: "3", title: "golang", description: "this is golang", image: "/vuejs.png" },
          // ],
          kelas: [],
        },
        // Lifecycle Diagram
        beforeCreate() {
          console.log("Before Create");
        },
        created() {
          // get local storage. JSON.parse: json string to object
          this.kelas = JSON.parse(localStorage.getItem("kelas")) || [];
          console.log("Created");
        },
        beforeMount() {
          console.log("Before Mount");
        },
        mounted() {
          console.log("Mounted");
        },
        beforeUpdate() {
          console.log("Before Update");
        },
        updated() {
          console.log("Updated");
        },
        beforeDestroy() {
          console.log("Before Destroy");
        },
        destroyed() {
          console.log("Destroyed");
        },
        methods: {
          // splice is method for remove array
          hapusKelas: function (id) {
            // Another alternative from .splice(index)
            this.kelas = this.kelas.filter((item) => item.id != id);
            localStorage.setItem("kelas", JSON.stringify(this.kelas));
            //sweet alert
            swal({
              text: "Data kelas berhasil dihapus",
              icon: "warning",
            });
          },
          updateKelas: function (data) {
            // unshift (input 1st data to array object)
            this.kelas.unshift(data);
            // set local storage. local storage cannot read object in array. so we use json string with syntax JSON.stringify()
            localStorage.setItem("kelas", JSON.stringify(this.kelas));
            //sweet alert
            swal({
              title: data.title,
              text: "Data kelas berhasil disimpan",
              icon: "success",
            });
          },
        },
        computed: {},
      });
      // another way from el: "#app",
      vm.$mount("#app");
    </script>
  </body>
</html>
