<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }
      .active {
        background: rgb(63, 178, 249);
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="image/logo.svg" width="90" />
        <!-- {{}}  is Binding Expression / Interpolation / Syntax Template.-->
        <!-- v-once adalah directive yang digunakan agar Binding Expression di dalamnya tidak bisa diubah.  -->
        <!-- .toUpperCase is JavaScript Expression -->
        <h1 v-once>Hey {{name.toUpperCase()}}! What is Vue.js</h1>
        <h2>{{anotherName}}</h2>
        <!-- v-model is two way data binding. So we can change value what we declared on data of vuejs -->
        <p><input type="text" v-model="anotherName" /></p>
        <h3>Iterasi v-for (1-5)</h3>
        <ul>
          <li v-for="x in 5">{{x}}</li>
        </ul>
        <h3>Cari Bilangan genap dari {{numbers}}</h3>
        <ul>
          <!-- Function can be use inside v-for -->
          <li v-for="x in cariBilanganGenap(numbers)">{{x}}</li>
        </ul>
        <h3>Daftar kelas {{kelas.length}}</h3>
        <!-- Conditional Rendering with v-if -->
        <ul v-if="kelas.length >= 2">
          <!-- v=for is iteartion. we can write with in or of-->
          <!-- <li v-for="item in kelas">{{item}}</li> -->
          <!-- Another alternative from {{}} is Binding Expression, we can use v-text for showing text -->
          <li v-for="item in kelas" v-text="item"></li>
          <!-- Access index from iteration -->
          <li v-for="(x, index) in kelas">{{index+1}} - {{x}}</li>
        </ul>
        <p>{{kelas}}</p>
        <p><input type="checkbox" value="Vuejs" v-model="kelas" />Vuejs <input type="checkbox" value="Reactjs" v-model="kelas" />Reactjs <input type="checkbox" value="Nextjs" v-model="kelas" />Nextjs</p>
        <!-- How to call image (1) <img src="image/vuejs.png" alt="gambar" width="500" /> -->
        <!-- Cannot use binding like this <img src="{{gambar}}" alt="gambar" width="500" /> -->
        <!-- Another step tu call image (2) <img v-bind:src="gambar" alt="gambar" width="500" /> -->
        <!-- Shortcut from v-bind:src is :src. .No need () -->
        <img :src="gambar" alt="gambar" width="500" />
        <p>{{ bilangan}}</p>
        <p>
          <!-- v-on:click is an events javascript. addBilangan is handle. and it is mehtod what we declared bellow->
          <!-- @click same shorthand from  v-on:click. We can do another like this with @doubleClick. @input. @onSubmit. dll -->
          <button @click="addBilangan()">Tekan</button>
        </p>
        <p>
          <button v-bind:class="{active: menu === 'home'}" v-on:click="menu = 'home'">Home</button>
          <button v-bind:class="{active: menu === 'about'}" v-on:click="menu = 'about'">About</button>
          <button v-bind:class="{active: menu === 'blog'}" v-on:click="menu = 'blog'">Blog</button>
        </p>
        <!-- When call function(parameter). so we must filling something inside to () -->
        <h2>{{changeName("Musyafa")}}</h2>
        <!-- Implementation from computed property. call it like function but without using () -->
        <h3>{{getCompleteName}} {{totalPayment}}</h3>
        <!-- Call ternary operator on computed property -->
        <h4>{{bilangan + isBilanganAsli}}</h4>
        <!-- Implement directive v-text from vuejs and call property "message" -->
        <h5 v-text="message"></h5>
        <!-- Implement directive v-html from vuejs and call property "link " -->
        <h5 v-html="link"></h5>
        <!--  {{isActive ? "is super" : "not super"}} is Javascript Expression. if true will show "is super",  if false will show "not super" -->
        <!-- {{getName()}} is calling declaration method -->
        <p>The progressive JavaScript Framework {{isActive ? "is super" : "not super"}} {{getName()}}</p>
      </header>
      <footer id="footer">
        <!--  {{"20" + "22"}}  JavaScript Expression, Whetere string or int or another type-->
        <p>Copyright {{"20" + "22"}}</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          // String, number, boolean, array, object
          name: "Zaenury Adhiim",
          anotherName: "Zentzy",
          message: "Hello World",
          isActive: true,
          namaDepan: "Rain",
          namaBelakang: "Fallin",
          qty: 1,
          bilangan: 0,
          link: '<a href="">Ini contoh html</a>',
          gambar: "image/vuejs.png",
          menu: "home",
          kelas: [],
          numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        },
        // Method JavaScript
        methods: {
          getName: function () {
            return "Ya, " + this.name;
          },
          // function (newName) is Parameter from function
          changeName: function (newName) {
            this.name = newName;
            return this.getName();
          },
          addBilangan: function () {
            this.bilangan++;
            this.bilangan % 2 === 0 ? (this.gambar = "image/vuejs.png") : (this.gambar = "image/vuejs2.png");
          },
          cariBilanganGenap: function (data) {
            return data.filter((angka) => angka % 2 == 0);
          },
        },
        // Computed property, nilai properti tergantung pada properti lain. Contoh property qty pada marketplace
        computed: {
          totalPayment: function () {
            return this.qty * 10000;
          },
          getCompleteName: function () {
            return this.namaDepan + this.namaBelakang;
          },
          // try computed with ternary operator
          isBilanganAsli: function () {
            return this.bilangan % 2 === 0 ? " Adalah bilangan genap" : " Adalah bilangan ganjil";
          },
        },
      });
    </script>
  </body>
</html>
