<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }
      .active {
        background: rgb(63, 178, 249);
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- Apply props to component -->
      <header-component name="Vuejs" image="image/logo.svg"></header-component>
      <header-compnonent name="Reactjs" image="image/vuejs.png"></header-compnonent>
      <main>
        <kelas v-bind:matkul="kelas" v-bind:input="kelasBaru"></kelas>
        <home></home>
      </main>
      <footer-component></footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script>
      // We have two options when defining component names. Kebab cas 'my-component-name' or PascalCase 'MyComponentName'
      //  See https://v2.vuejs.org/v2/guide/components-registration.html#Name-Casing
      // const Home is local registration components
      const Home = {
        template: `<div>Home</div>`,
      };
      // Global registration components
      Vue.component("header-component", {
        // Adding props
        props: ["name", "image"],
        template: `
        <header>
          <img :src="image" width="90" />
          <p>Halo, {{name}}</p>
        </header>`,
        // Data component must be function
        data: function () {
          return {
            pesan: "Hello Vuejs",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
        <footer id="footer">
          <p>Copyright 2022. Zaenury Adhiim</p>
        </footer>`,
      });
      Vue.component("kelas", {
        props: ["matkul", "input"],
        template: `
        <div>
          <label for="update kelas">Please, add class here</label>
          <p><input type="text" v-on:keyup.enter="updateKelas" v-model="input" /></p>
          <h3>Daftar kelas {{matkul.length}}</h3>
          <template v-if="matkul.length > 0">
            <ul>
              <li v-for="(x, index) in matkul">{{index+1}} - {{x}}</li>
            </ul>
          </template>
          <li v-else>Class is not available</li>
        </div>
        `,
        data: function () {
          return {};
        },
        methods: {
          updateKelas: function () {
            // .unshift is fill an array to the first of index
            this.kelas.unshift(this.kelasBaru);
            this.kelasBaru = "";
          },
        },
      });
      const vm = new Vue({
        el: "#app",
        // Local registration components
        components: {
          home: Home,
        },
        data: {
          kelas: [],
          kelasBaru: "",
        },
        methods: {},
        computed: {},
      });
    </script>
  </body>
</html>
