<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }
      .active {
        background: rgb(63, 178, 249);
        border: 0;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- Apply props to component -->
      <header-component name="Vuejs" image="image/logo.svg"></header-component>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/kelas">Kelas</router-link>
      <main>
        <!-- emit is using for Listening to Child Components Events and communicating back up to the parent. So registration with v-on then  $emit('aim purpose') . And dont use camel case for aim puropose. I prefer for using kebab case -->
        <!-- $emit('hapus-kelas', index) : use $emit‘s 2nd parameter to provide this value -->
        <!-- <kelas v-bind:matkul="kelas" v-on:update-kelas="updateKelas" v-on:hapus-kelas="hapusKelas"></kelas>
        <home></home> -->
        <!-- matkul (props), update-kelas ($emit), hapus-kelas ($emit) are custom name function and embed to parent -->
        <router-view v-bind:matkul="kelas" v-on:update-kelas="updateKelas" v-on:hapus-kelas="hapusKelas"></router-view>
      </main>
      <footer-component>
        <!-- <slot> is using to include something that is inside the class tag -->
        <p>Copyright 2022. Zaenury Adhiim</p>
      </footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script>
      // We have two options when defining component names. Kebab cas 'my-component-name' or PascalCase 'MyComponentName'
      //  See https://v2.vuejs.org/v2/guide/components-registration.html#Name-Casing
      // const Home is local registration components
      // 1. Define route components.
      const Home = {
        template: `<div>Home</div>`,
      };
      const About = {
        template: `<div>About</div>`,
      };
      const Kelas = {
        props: ["matkul"],
        template: `
        <div>
          <label for="update kelas">Please, add class here</label>
          <form v-on:submit.prevent="updateKelas">
            <p><input type="text" placeholder="Input title" v-model="kelas.title"></input></p>
            <div class="input-grup">
              <label>Input descriptions</label>
              <p><textarea v-model="kelas.description"></textarea></p>
            </div>
            <div class="input-grup">
              <p><img :src="preview" v-if="preview" width="200"/></p>
              <label>Upload Image</label>
              <input type="file" ref="image" v-on:change="uploadImage"></input>
            </div>
            <p><button type="submit">Submit</submit></p>
          </form>

          <h3>Daftar kelas {{matkul.length}}</h3>
          <template v-if="matkul.length > 0">
            <ul>
              <li v-for="(item, index) in matkul">{{index+1}} - {{item.title}}
                <a href="" v-on:click.prevent="$emit('hapus-kelas', item.id)">Hapus</a>  
              </li>
            </ul>
          </template>
          <li v-else>Class is not available</li>
        </div>
        `,
        data: function () {
          return {
            kelas: {
              title: "",
              description: "",
              image: "",
            },
            preview: "",
          };
        },
        methods: {
          updateKelas: function () {
            const updateKelas = {
              id: uuidv4(),
              title: this.kelas.title,
              description: this.kelas.description,
              image: this.kelas.image,
            };
            // this.$emit = Communication from child to parent. "update-kelas" = custom name function. updateKelas = bring value of objects
            this.$emit("update-kelas", updateKelas);
            this.kelas.title = "";
            this.kelas.description = "";
            this.kelas.image = "";
            this.preview = "";
            // to remove imageName beside of button `choose file`
            this.$refs.image.value = "";
          },
          uploadImage: function (event) {
            imageName = event.target.files[0].name;
            this.kelas.image = imageName;
            // URL.createObjectURL (for change data files object to url)
            this.preview = URL.createObjectURL(event.target.files[0]);
          },
        },
      };
      // Global registration components
      Vue.component("header-component", {
        // Adding props
        props: ["name", "image"],
        template: `
        <header>
          <img :src="image" width="90" />
          <p>Halo, {{name}}</p>
        </header>`,
        // Data component must be function
        data: function () {
          return {
            pesan: "Hello Vuejs",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
        <footer id="footer">
          <slot></slot>
        </footer>`,
      });
      Vue.component("kelas", {});

      // 2. Define some routes
      const routes = [
        { path: "/", component: Home },
        { path: "/about", component: About },
        { path: "/kelas", component: Kelas },
      ];

      // 3. Create the router instance and pass the `routes` option
      const router = new VueRouter({
        mode: "history",
        routes, // short for `routes: routes`
      });

      const vm = new Vue({
        el: "#app",
        router,
        // Local registration components
        components: {
          home: Home,
        },
        data: {
          kelas: [
            //  Try to change array string with array object
            { id: "1", title: "javascript", description: "this is javascript" },
            { id: "2", title: "typescript", description: "this is typescript" },
            { id: "3", title: "golang", description: "this is golang" },
          ],
        },
        methods: {
          // splice is method for remove array
          hapusKelas: function (id) {
            // Another alternative from .splice(index)
            this.kelas = this.kelas.filter((item) => item.id != id);
          },
          updateKelas: function (data) {
            // unshift (input 1st data to array object)
            this.kelas.unshift(data);
          },
        },
        computed: {},
      });
    </script>
  </body>
</html>
